@import url('https://fonts.googleapis.com/css?family=Joti+One|Roboto');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: aliceblue;
    color: aliceblue;
}

body {
    display: grid;
    grid-template: 15vh auto 10vh / repeat(12, 1fr);
    grid-template-areas: 
        'h h h h h h h h h h h h'
        'm m m m m m m m m m m m'
        'f f f f f f f f f f f f';
}

header {
    grid-area: h;
    background-color: #23688d;
    border: 1px solid rgba(13, 57, 139, 0.2);
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

header > h1 {
    text-align: center;
    padding: 2vh;
    font-family: 'Joti One', cursive;
    font-size: 3.5rem;
}

.beat-animation {
    animation: beat 3s infinite ease-in-out;
}

main {
    grid-area: m;
    margin: 15px auto;
    padding: 20px;
    width: 50vw;
    border: 2px solid #23688d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgba(13, 57, 139, 0.2);
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.input-field, .select-field {
    width: 100%;
    margin: 2px;
    height: 2.5em;
    outline: none;
}

.input-field {
    border: none;
    border-radius: 5px;
    font: normal 1.5em Sans-serif;
    color: #23688d;
}

::placeholder {
    color: #23688d;
    opacity: 0.4;
}

.select-field {
    color: #23688d;
    font-size: 1.5em;
}

footer {
    grid-area: f;
    background-color: #23688d;
    border: 1px solid rgba(13, 57, 139, 0.2);
    border-radius: 0 0 2px 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

footer > p {
    text-align: center;
    padding: 2vh;
    font-family: 'Joti One', cursive;
    font-size: 0.9rem;
}

@keyframes beat {
    0% {
        color: red;
        font-size: 20px;
    }

    25% {
        color: orange;
    }

    50% {
        color: yellow;
    }

    75% {
        color: green;
    }

    100% {
        color: blue;
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    main {
        width: 70vw;
    }
}